.book-availability-table{
  text-align: center;
  table-layout: fixed;
  width: 278px;
}

.book-availability-table th{
  padding: 5px 10px;
  text-align: left;
  overflow: hidden;
  width: 204px;
}

.book-availability-table td{
  padding: 5px 10px;
  text-align: left;
  white-space: nowrap;
  width: 54px;
}
